*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url(./images/gradient-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8rem;
}
.game_info{
    color: white;
    background-color: rgba(255, 255, 255, 0.185);
    padding: 0.6rem 2.4rem;
    border-radius: 0.8rem;
    border: 1px rgba(255, 255, 255, 0.368) solid;
    font-size: 1.12rem;
}
.tic_tac_toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.185);
    border: 1px rgba(255, 255, 255, 0.368) solid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
    border-radius: 0.8rem;
    aspect-ratio: 1/1; /* for making square */
}
.tic_tac_toe.win{
    outline: 4px solid rgba(255, 255, 255, 0.452);
}
.box{
    width: 100%;
    aspect-ratio: 1/1;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.box.win{
    background-color: rgba(33, 159, 117, 0.758);
}


#box1, #box2, #box4, #box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
#box3, #box6{
    border-bottom: 2px solid white;;
}
#box7, #box8{
    border-right: 2px solid white;;
}
.btn{
    display: block;
    color: white;
    background-color: rgba(255, 255, 255, 0.231);
    padding: 0.6rem 2.4rem;
    border-radius: 0.8rem;
    border: 1px rgba(255, 255, 255, 0.368) solid;
    font-size: 0.8rem;
    cursor: pointer;
}
.btn.active{
    display: block;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px rgba(255, 255, 255, 0.368) solid;
}